@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,800;1,700&display=swap');

* {
 font-family: "DM Sans", sans-serif;
 list-style: none;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
/* background section styling */
.hero1 {
  background: rgba(68, 69, 124, 0.534)url("./image/bird.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  color: white;
  height: 100vh;
  width: 100vw;
 }
 .hero3 {
  background: rgba(89, 46, 190, 0.589)url("./image/hill.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  height: 100vh;
  /* overflow: hidden; */
  color: #fff;
 }






/* background section styling ends */
.hero1 .navbar-nav a, .hero1 .navbar-brand,  .content3 .logo, .hero5 .navbar-brand, .content5 h2, .content5 p, .hero3 .navbar-nav a, .next3 span, .hero5 .navbar-nav a  {
 color: #fff !important;
}

.hero1 button[type="button"], .hero2 button[type="button"], .hero5 button[type="button"] {
 background-color: #25dac5;
 border: none;
 color: #fff;
 font-size: 18px;
}
.hero4 .btn-sign, .hero5 .btn-sign {
  border: 2px solid rgba(103, 103, 104, 0.541) !important;
}


.content h1, .content2 h1, .content3 h1, .content-left h1, .content5 h2   {
 font-size: 58px;
 font-weight: 700;
 letter-spacing: -1px;
 text-align: center;
 line-height: 70px;
 }

 .content p, .content2 p, .page5-video p, .content-left p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
 }  

 .play_icon {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  margin-left: 48%;
  cursor: pointer;
 }
 .play_icon:hover {
  animation: pulse 1000ms infinite;
 }
 .play_icon span {
  font-size: 35px;
  margin: 18px;
  font-variation-settings:
   'FILL' 1,
   'wght' 400,
   'GRAD' 0,
   'opsz' 48
 }
 .hero2 .navbar-nav li{
  line-height: 22px;
  color: #151439;
 }
 .hero1 .navbar-brand, .hero2 .logo, .content3 .logo, .hero5 .navbar-brand, .hero4 .logo{
  font-size: 24px ;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: -0.3px;
  color: #1E0E62;
 }
.content2 h1, .content-left h1 {
color: #1E0E62;
margin: 10% 0 4% 0;
}
.inactive {
 color: #1E0E62 !important;
 border: 2px solid #1514391e;
}
.content2 p {
 text-align: left;
 color: #151439;
 opacity: 0.4;
}

.next2 {
 display: flex;
 justify-content: space-between;
 margin-top: 40px;
}
.next2 span, .next3 span, .hero4 .navbar-nav a, .hero4 .navbar-light .navbar-nav .nav-link {
  color: #1E0E62;
}
.hero2-img img {
  width: 600px;
  height: 100vh;
}

 .content3 h1 {
 font-size: 72px;
 font-weight: 700;
 line-height: 86px;
 letter-spacing: -1px;
 }
 .content3 p, .hero3 .navbar-nav a, .content5 p {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  }
.content3 .content-btn button{
  font-size: 18px;
  padding: 0 60px;
  margin-top: 70px;
}
  .content3 .content-btn button, .content-left .content-btn button {
    background-color: #482BE7;
    border: none;
    color: white;
    font-weight: 500;
    line-height: 26px;
    }
    .content-left .content-btn button{
      font-size: 20px;
    }
  .hero4 .navbar-nav a, .hero5 .navbar-nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    }

  .hero1 .navbar-nav a, .hero3 .navbar-nav a, .next3 span, .hero4 .navbar-nav a, .hero5 .navbar-nav a {
    font-size: 18px;
    line-height: 26px;
  }
  .next3 span {
    margin-top: 255px;
    font-size: 30px;
  }
  .active {
    opacity: 0.5;
  }
 @keyframes pulse {
  0% {
   transform: scale(0.9);
   opacity: 0.75;
  }
  100% {
   transform: scale(1.35);
   opacity: 0;
  }
 }
 .next .material-symbols-outlined{
  margin-left: 90%;
  cursor: pointer;
  
 }
 .next .material-symbols-outlined:hover, .next2 .material-symbols-outlined:hover, .next3 .material-symbols-outlined:hover{
  color: #25dac5;
 }
.hero5 {
  background-color: #2f1893;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.footer-content {
  justify-content: space-between;
}
.page5-video img{
  width: 200px;
  height: 130px;
}
.content-right {
margin: 50px 0 0 100px ;
}
.hero4-link{
  margin-left: 360px;
}
.hero4 .nav-item {
  margin-right: 20px;
}

 @media screen and 
(max-width: 650px) {
  .hero1 {
    overflow-y: scroll;
  }
 .content-div, .content2 {
  margin: 0 5px;
  padding: 0 20px;
 }
 .content h1, .content2 h1 {
  font-size: 30px;
  line-height: 40px;
 }
 .content p, .content2 p {
  font-size: 16px;
  line-height: 20px;
 }
 .play_icon {
  width: 50px;
  height: 50px;
  margin-left: 45%;
 }
 .play_icon span {
  margin: 8px;
 }
 .break {
  display: none;
 }
 .hero2-img img{
  width: 300px;
  height: 400px;
 }
}

@media screen and (min-width: 670px) {}